h3{
    font-size:28px !important;
}

.btn-success:hover{
    background-color: rgb(225, 0, 255);
}

canvas {
    animation-name:shadowbox;
    animation-duration:9s;
    animation-iteration-count:infinite;
}
@keyframes shadowbox {
    from{box-shadow:1px 1px 38px coral;}
    to{box-shadow:1px 1px 38px blueviolet;}
}